{% extends 'scoops/base.html' %}
{% load render_table from django_tables2 %}
{% block title %}{{ flavor.flavor_name }} - {{ block.super }}{% endblock %}
{% block content %}
    <h1>{{ flavor.flavor_name }}</h1>
    <p>{{ flavor.flavor_description }}</p>
    <p>Last seen: {{ flavor.date_seen }}
    {% if user.is_authenticated %}
        {% if is_favorite %}
        <form action="{% url 'scoops:remove_from_favorites' flavor.id %}"
         method="post">
        {% csrf_token %}
            <input type="submit" value="Remove from Favorites"></input>
        </form>
        {% else %}
        <form action="{% url 'scoops:add_to_favorites' flavor.id %}"
        method="post">
        {% csrf_token %}
            <input type="submit" value="Add to Favorites"></input>
        </form>
        {% endif %}
    {% else %}
        <p>Log in or Register to track your favorite Flavors.</p>
    {% endif %}
{% endblock %}  